header{
    width: 100%;
    height: auto;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;

    .header-content{
        width: 100%;
        height: auto;
        display: flex;
        padding-bottom: 15px;
        justify-content: space-between;
        // background-color: rgb(25, 95, 83);

        .logo{
            width: 15em;
            padding-top: 20px;
            height: auto;

            img{
                height: 45px;
                width: 146px;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }

        nav{
            width: 100%;
            display: flex;
            height: auto;
            vertical-align: middle;
            padding-left: 10px;
            
            ul{
                list-style: none;
                width: 100%;
                display: flex;

                li{
                    padding-top: 1.8em;
                    transition: 0.5s;
                    position: relative;
                    cursor: pointer;

                    // &::after{
                    //     background: #40c1a6;
                    //     content: "";
                    //     position: absolute;
                    //     mask-image: url(https://static-dm.akamaized.net/assassins-creed/valhalla/prod/ki_nav-bkg_ncsa.png);
                    //     mask-size: 100vw 71px;
                    //     visibility: hidden;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    // }

                    &:hover{
                        box-shadow: inset 0 65px 0 0 #40c1a6;
                    }

                    a{
                        text-decoration: none;
                        padding: 15px;
                        color: #fff;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
        }

        .play-btn{
            width: 10em;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            padding-top: 20px;
            padding-right: 10px;
            height: auto;
            transition: 0.8s;

                &:hover{
                    box-shadow: inset 0 5em 0 0 #40c1a6;
                }
            

            a{
                color: cadetblue;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                font-family: serif;
                font-size: 20px;
            }
        }
    }
}